[Unit]
Description=Storage Indicator

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/storage-indicator
ExecStart=/opt/storage-indicator/storage-indicator-service.sh
 
[Install]
WantedBy=multi-user.target
